
* {
  font-family: Helvetica Neue, Arial, sans-serif; 
}

h1, table { 
  text-align: left; 
  table-layout: fixed;
}

.floaty-input {
    padding: 2px;
    outline: none;
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    margin-bottom: 0px;
}

#error-view {
  text-align: left;
  vertical-align: center;
  padding: 2px;
  outline: none;
  border: none;
  width: 100%;
  }

th, td { 
  font-size: 1.3rem; 
  margin-bottom: 3px; 
}

th {
  padding: 3px;
  font-weight: bold;
}

.bg-color {
  background-color: #262216;
}

tr, td { 
  transition: .1s ease-in; 
  align-content: left;
  padding-left: 10px;
  vertical-align: center;
  padding-top: 4px;
  word-wrap: break-word;
} 

.top-buffer { margin-top:2px; }

td {
  wo2rd-wrap: break-word;
}

th.Controls{
  width: 15%
}
th.Key {
  width: 20%
}
th.Value {
  width: 65%;
}

tr:hover:not(#firstrow), tr:hover td:empty {
  pointer-events: #262216;
}

div .totalkeys {
  text-align: center;
}

div .center-nav {
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 95%;
}

/*.center-pills { display: inline-block; }*/
.center-pills {
    display: flex;
    justify-content: center;
}

ul .nav-loc {
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
  text-align: 
}

div .ctrls-span {
  text-align: center;
  align-self: center;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  align-content: center;
  margin-left: 15%;
  margin-right: 15%
}

kval {
  margin-right: 10px;
  margin-left: 10px;
}

input.search {
  margin-left: 10px;
  margin-right: 10px;
}

input.keychange {
  margin-left: 10px;
  margin-right: 10px;
}
input.exp-ttl {
  margin-left: 10px;
  margin-right: 10px;
}

.shadow {
  box-shadow: 0 3px 4px rgba(0,0,0,0.25);
}

.text-shadow {
  text-shadow: 2px 2px rgba(0,0,0,0.25);
}

body {
    color: #22264b;
    background-color: #FFFFFF;
    margin-left: 15px;
    margin-right: 15px;
}

a.buttonbuffer {
    margin-left: 10px;
    margin-right: 10px;
}

.center-div {
  vertical-align: middle;
  text-align: center;
}
.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.container-fluid {
     padding-right: 0px; 
     padding-left: 0px;
}

.tab-wrapper {
    padding-top: 10px;
}

.tools-panel {
    padding: 5px 15px;
    cursor: pointer;

     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.tools-panel:hover {
    background: #EAEAEA;
}

.exclusions-header {
    text-align: left !important;
    color: grey;
    padding: 5px;
    text-align: left;
    font-size: 16px;
    /*margin-bottom: 20px; */
    padding-bottom: 7px;
    border-bottom: 1px solid #ddd;
}

.refresh-spinner-wrapper {
    padding-left: 20px;
    padding-top: 23px;
}

.refresh-spinner {
    cursor: pointer;
}

.settings-section-header {
    display: block;
    color: grey;
    padding: 5px;
    /*border-bottom: 1px solid #e5e5e5;*/
    text-align: left;
    font-size: 16px;
    width: 100%;
    height: auto;
}

.settings-section-content {
    padding: 10px;
    width: 100%; 
    height: auto;
    overflow: auto;
}

.setting-label {
    padding-top: 8px;
}

.animated {
  -webkit-animation-duration: 0.5s !important; /* Safari 4+ */
  -moz-animation-duration:    0.5s !important; /* Fx 5+ */
  -o-animation-duration:      0.5s !important; /* Opera 12+ */
  animation-duration:         0.5s !important; /* IE 10+, Fx 29+ */
}

.filter-info {
    color: #777;
    font-size: 13px !important;
}

h2 {
    margin-top: 10px
}

.show-pointer {
    cursor: pointer;
}

.page-header {
    padding-bottom: 0px;
    margin: 0px; 
}

.container {
    width: 75%;
}

@media screen and (max-width: 1080px) {
     .container {
        width: 95%;
    }
}

.error-details {
    padding-left: 0px;
}

.row {
    margin-right: 0px;
}

td {
  vertical-align: middle !important;
}

thead {
  background: hsla(0, 0%, 96%, 0.28);
}

.header-margin {
    margin-bottom: 15px;
}

.text-selectable {
    cursor: text;
}

.hide {
    display: none;
}

.muted {
    color: #d2d2d2;
}

.no-exclusions-label {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
    color: gray;
}

.dropdown-menu {
    min-width: 100px;
}

.clickable {
    cursor: pointer;
}

.fullscreen-wrapper {
    width: 100%;
    height:100%;
    padding: 10px;
    background: white;
}

.delete-conf {
    border-top-left-radius: 6px; 
    border-top-right-radius: 6px;
}

.exclusion-search {
    display: initial;
    width: 40%;
    height: 29.5px;
    line-height: initial;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popover {
    width: 400px;
    max-width: initial;
}

.exclusiontable-wrapper {
    max-height: 150px;
    overflow: auto;
    border-bottom: solid #DDDDDD;
    border-width: 1px;
    margin-bottom: 15px;
}

.exclusiontable-header {
    border-top: solid #DDDDDD;
    border-bottom: solid #DDDDDD;
    border-width: 1px;
    margin-bottom: 0 !important;
}

.exlusionlist-head {
    display: none;
}

.truncate-left {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
}

.popover-title {
    color: black;
}

.clear-filter {
    text-align: right;
    padding-top: 10px;
}

.modal-body {
    padding: 0 0 0 15px;
}

pre[class*="language-"] {
    background: #FCFCFC !important;
}

ul.code {
	font-family: monospace !important;
    font-size: 13px;
	border: 1px solid #E1E1E1;
	-ms-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
    word-wrap: break-word;
	background: #FCFCFC;
    max-width: 100%;	
}

ul.code li {
    font-family: monospace !important;
	white-space: pre-wrap;
    list-style-type: none;
}

.tools-title {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.no-errors-label {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: gray;
}

.error-controls {
    padding-top: 13px;
}

.searchbar {
    padding-top: 13px;
}

.error-heading {
    padding: 0px 10px 0px 10px;
}

h2, h3 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.search-column {
    padding-right: 3px;
}

.tools-tab {
    box-shadow: 0 0 0 1pt #ddd;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
}

.column-pref-wrapper {
    padding-left: 50px;
}

.column-pref-option {
    padding-right: 20px;
}

.filter-check {
    padding-left: 10px;
}


.filter-header {
    text-align: left !important;
    color: grey;
    padding: 5px;
    text-align: left;
    font-size: 16px;
    margin-bottom: 20px;
    padding-bottom: 7px;
    border-bottom: 1px solid #ddd;
}

.filters-wrapper {
    padding-bottom: 15px;
}

.tooltip {
    z-index: 99999999999999999999;
}
.fifthteenbadge {
    font-size: 12px;
    margin-left: 15px;
    margin-top: 24px;
    padding-bottom: 4px;
    padding-top: 4px;
    background: #C04B4B !important;
    color: white !important;
    cursor: default;
}

.cachebadge {
    font-size: 12px;
    margin-left: 15px;
    margin-top: 24px;
    padding-bottom: 4px;
    padding-top: 4px;
    color: white !important;
    cursor: default;
}

#slider {
width: 400px;
height: 17px;
position: relative;
margin: 100px auto;
background: #10171D;

-webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;

-webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
-moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}

#slider .bar {
width: 388px;
height: 5px;
background: #333;
position: relative;
top: -4px;
left: 4px;  

background: #1d2e38;
background: -moz-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1d2e38), color-stop(50%,#2b4254), color-stop(100%,#2b4254));
background: -webkit-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
background: -o-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
background: -ms-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
background: linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2e38', endColorstr='#2b4254',GradientType=1 );    

-webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;
}

#slider .highlight {
height: 2px;
position: absolute;
width: 388px;
top: 6px;
left: 6px;
-webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;
background: rgba(255, 255, 255, 0.25);
}

.center-div {
    text-align: left;
}

.filter-delete {
    color: lightgray;
    cursor: pointer;
}

.filter-delete:hover {
    color: black;
}

input[type="range"] {
-webkit-appearance: none;
background-color: black;
height: 2px;
}

.search-filter {
    margin-top: 26px;
    margin-left: 16px;
}

.filter-row {
    margin-right: -15px;
}

.panel {
    margin-bottom: 5px !important;
}

input[type="range"]::-webkit-slider-thumb {
-webkit-appearance: none;
position: relative;
top: 0px;
z-index: 1;
width: 11px;
height: 11px;
cursor: pointer;
-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
-webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));
}

input[type="range"]:hover ~ #rangevalue,input[type="range"]:active ~ #rangevalue {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
opacity: 1;
top: -75px;
}

/* Tool Tip */
#rangevalue {
color: white;
font-size: 10px;
text-align: center;
font-family:  Arial, sans-serif;
display: block;
color: #fff;
margin: 20px 0;
position: relative;
left: 44.5%;
padding: 6px 12px;
border: 1px solid black;

-webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0,0,0,0.4);
-moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0,0,0,0.4);
box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0,0,0,0.4);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222931), color-stop(100%,#181D21));

-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
width: 18px;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
opacity: 0;

-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
top: -95px;
}

.animate-enter, 
.animate-leave
{ 
	-webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: clip;
	white-space:nowrap;
} 

.animate-leave.animate-leave-active,
.animate-enter {
	opacity: 0;
	width: 0px;
	height: 0px;
}

.animate-enter.animate-enter-active, 
.animate-leave {
	opacity: 1;
	width: 150px;
	height: 30px;
}

.chart-legend,
.bar-legend,
.line-legend,
.pie-legend,
.radar-legend,
.polararea-legend,
.doughnut-legend {
  list-style-type: none;
  margin-top: 5px;
  text-align: center;
  /* NOTE: Browsers automatically add 40px of padding-left to all lists, so we should offset that, otherwise the legend is off-center */
  -webkit-padding-start: 0;
  /* Webkit */
  -moz-padding-start: 0;
  /* Mozilla */
  padding-left: 0;
  /* IE (handles all cases, really, but we should also include the vendor-specific properties just to be safe) */
}
.chart-legend li,
.bar-legend li,
.line-legend li,
.pie-legend li,
.radar-legend li,
.polararea-legend li,
.doughnut-legend li {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: smaller;
  cursor: default;
}
.chart-legend li span,
.bar-legend li span,
.line-legend li span,
.pie-legend li span,
.radar-legend li span,
.polararea-legend li span,
.doughnut-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

/* easter egg */

.easteregg {
  position: fixed;
  bottom: -3px;
  left: -600px;
  z-index: 999999999;
    
  animation-duration: 5s;
  animation-name: goRight;
  animation-iteration-count: 1;
    
  -moz-animation-duration: 5s;
  -moz-animation-name: goRight;
  -moz-animation-iteration-count: 1;
}

@keyframes goRight {
  from {
    -webkit-transform: translate(0,0);
  }

  to {
    -webkit-transform: translate(1920px,0);
  }
}

@-moz-keyframes goRight {
  from {
    -moz-transform: translate(0,0);
  }

  to {
    -moz-transform: translate(1920px,0);
  }
}

.app-modal-window .modal-dialog {
  width: 85%;
}

.error-detail-modal {
    overflow: auto;
    max-height: 1000px;
    width: 99.9%;
}

@media screen and (max-height: 1080px) {
   .error-detail-modal {
        overflow: auto;
        max-height: 650px;
        width: 99.9%;
    }
}

@media screen and (max-height: 900px) {
   .error-detail-modal {
        overflow: auto;
        max-height: 475px;
        width: 99.9%;
    }
}


.page-spinner-wrapper {
    position:fixed; 
    top:0; 
    left:0;
    margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
    background:rgba(0,0,0,0.3); 
    z-index:100; 
	width: 100px;
	height: 100px;
    border-radius: 20px;
}

.cssload-container {
    position: absolute;
    margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 63px;
	text-align: center;
}

.cssload-speeding-wheel {
	width: 63px;
	height: 63px;
	margin: 0 auto;
	border: 6px solid white;
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin 875ms infinite linear;
		-o-animation: cssload-spin 875ms infinite linear;
		-ms-animation: cssload-spin 875ms infinite linear;
		-webkit-animation: cssload-spin 875ms infinite linear;
		-moz-animation: cssload-spin 875ms infinite linear;
}



@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}


.animate-enter, 
.animate-leave
{ 
	-webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: clip;
	white-space:nowrap;
} 

.animate-leave.animate-leave-active,
.animate-enter {
	opacity: 0;
}

.animate-enter.animate-enter-active, 
.animate-leave {
	opacity: 1;

}
	
.stack-trace-highlight {
    color: #DE9610;    /* Bob Ross Indian Yellow */
}