﻿@{ ViewData["Title"] = "Baby Name Popularity by Year"; Layout = null; }

<!doctype html>
<html lang="en" ng-csp="" ng-app="babynames" ng-cloak="true">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="Error logs redone in AngularJS">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="static/assets/favicon.ico">
    <link rel="stylesheet" type="text/css" href="static/assets/style/style.css" />
    <link rel="stylesheet" type="text/css" href="static/assets/css/superhero.css" />
    <link rel="stylesheet" type="text/css" href="static/assets/css/angular-csp.css" />
    <link rel="stylesheet" type="text/css" href="static/assets/css/angular-chart.css" />
</head>
<body class="main-wrapper">
    <div ng-controller="BabyNamesControl as bn">
      <div class="name-search col-sm-2">
            <div style="text-align:center;">
              <h2><b>Baby Names Visualizer</b></h2>
              <h4>% of gender population</h4>
            </div>
            <br><br>
            <div class="form-inline">
              <div style="color:orange;" ng-show="oopsMessage != undefined">{[ oopsMessage ]}</div>
              <form role="form" ng-submit="add_name()">
                <label class="control-label">Name (case sensitive)<br>
                  <input class="form-control" ng-model="add_this_name" required>
                </label>
                <br>
                <label>
                  <input type="checkbox" class="form-control" ng-model="clearNameBoxOnSubmit">
                  Auto-clear name field?
                </label>
              </form>
              <div>
                <label class="control-label">Region<br>
		              <select ng-model="locale" class="form-control" ng-options="locale as locale for locale in locales">
		                <option value="">Select Region</option>
		              </select>
	              </label>
                </div>
              <br>
              <div>
                <label class="control-label">Gender<br>
                 <label class="control-label">Male
                   <input class="form-control radio" ng-model="genderSelection" type="radio" name="gender" value="male" style="display:inline;" required>
                 </label>
                 <label class="control-label">Female
                   <input class="form-control radio" ng-model="genderSelection" type="radio" name="gender" value="female" style="display:inline;" required>
                 </label>
                </label>
              </div>
              <br>
              <div ng-show="showYear">
                <label class="control-label">Starting Year<br>
                  <input class="form-control" type="text" ng-model="year" required>
                </label>
              </div>
              <br>
              <div>
                <a href type="button" ng-show="chartData.length > 0" class="btn btn-danger pull-left" ng-click="resetChart()">Clear All</a>
                <a href type="button" class="btn btn-success pull-right" ng-show="add_this_name != undefined" ng-click="add_name()">Add Name</a>
                <br><br>
              </div>
            </div>
            <br>
            <div>
              <ul>
                <li class="pull-left" ng-repeat="name in names_data.names">
                  <a href type="button" class="btn btn-warning" ng-click="removeName(name)">X</a>
                  <b> {[name]}</b>
                  <br>
                </li>
              </ul>
            </div>
      </div>
        
      <div class="col-sm-10" id="chart">
          last query time: {[queryTime]}
        <canvas id="line" class="chart chart-line chart-xl ng-isolate-scope" chart-legend="true" chart-data="chartData" chart-options="options" chart-labels="chartLabels" chart-series="chartSeries"></canvas>
        </div>
    </div>
<script type="text/javascript" src="static/assets/js/angular.min.js"></script>
<script type="text/javascript" src="static/assets/js/Chart.js"></script>
<script type="text/javascript" src="static/assets/js/angular-chart.js"></script>
<script type="text/javascript" src="static/assets/js/angular-route.min.js"></script>
<script type="text/javascript" src="static/assets/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="static/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/assets/js/ui-bootstrap-tpls-0.14.1.min.js"></script>
<script type="text/javascript" src="static/app/babynames.js"></script>
<script type="text/javascript" src="static/assets/js/angular-cookies.min.js"></script>

</html>